fastapi
uvicorn
gunicorn
python-dotenv
requests
beautifulsoup4

langchain
langchain-community
langchain-huggingface
langchain-text-splitters

chromadb
sentence-transformers

pydantic<2
typing-extensions
pydantic-core
